<!DOCTYPE html>
<html lang="vi">
  <head>
    <%- include("partials/V_Meta");%> <%- include("partials/V_Css");%>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <%- include("partials/V_Sidebar");%>

        <!-- top navigation -->
        <%- include("partials/V_Header");%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main"><%- include(V_Main);%></div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include("partials/V_Footer");%>

        <!-- /footer content -->
      </div>
    </div>

    <!-- Script -->
    <%- include("partials/V_Scripts");%>
  </body>
</html>
